name: meson build and test
run-name: update pushed to ${{ github.ref }}
on: [check_run, push, pull_request]

jobs:
  meson-publish:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        
      - name: setup python
        uses: actions/setup-python@v5
      
      - name: meson build
        uses: BSFishy/meson-build@v1.0.3
        with:
          meson-version: 1.5.1
          ninja-version: 1.11.1.1
          action: build
  
      - name: meson test
        uses: BSFishy/meson-build@v1.0.3
        with:
          meson-version: 1.5.1
          ninja-version: 1.11.1.1
          action: test
        env:
          GCOV_PREFIX: /tmp/gcov/runner-${{ matrix.os }}
          GCOV_PREFIX_STRIP: 4

  meson-coverage:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target: [target1, target2, target3]
    
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        
      - name: setup python
        uses: actions/setup-python@v5
      
      - name: meson build
        uses: BSFishy/meson-build@v1.0.3
        with:
          meson-version: 1.5.1
          ninja-version: 1.11.1.1
          builddir: build_${{ matrix.target }}
          setup-options: >
            # If applicable to build shared/static libraries separately
            -Db_coverage=true
            -Ddefault_library=both
          action: build 
  
      - name: meson test
        uses: BSFishy/meson-build@v1.0.3
        with:
          meson-version: 1.5.1
          ninja-version: 1.11.1.1
          builddir: build_${{ matrix.target }}
          setup-options: -Db_coverage=true
          action: test
        env:
          GCOV_PREFIX: /tmp/gcov/coverage_${{ matrix.target }}
          GCOV_PREFIX_STRIP: 4

      - name: generate code coverage report
        uses: threeal/gcovr-action@v1.0.0
        with:
          coveralls-send: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          excludes: |
            src_test_lib_json_.*
            .*jsontest\.h.*
          add-dirs: |
            # Add coverage data directories for all targets
            /tmp/gcov/coverage_target1
            /tmp/gcov/coverage_target2
            /tmp/gcov/coverage_target3
